@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject Hello.BookStore.Repository.IAccountRepository _accountRepository

@{ 
    var user = _accountRepository.GetUserDetails();
}

@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value)
            @*@User.Identity.Name*@
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-action="LogOut" asp-controller="Account">Logout</a>
            <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Change password</a>
            <a class="dropdown-item" asp-action="UserDetailsPage" asp-controller="Account" asp-route-username="@user.Result.UserName">User Details</a>
        </div>
    </li>

}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="LogIn" asp-route-returnUrl="@Context.Request.Path">Login</a>
        <a class="btn btn-primary" asp-controller="Account" asp-action="SignUp">Register</a>
    </li>

}